html(lang="tr")
  head
    link(rel = 'stylesheet', href = 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css')
    title= "Cool"
  body
    nav.navbar.navbar-light.bg-light
        .container-fluid 
            a.navbar-brand(href="#")
                img.d-inline-block.align-text-top.px-5(src="../img/logo.png", alt="", height="32")
                span good one

