extends ./layouts/main

block content
	.container 
		.row 
			.col-6 
				.h1 Sahte Ürün API
				p Hepimizin hazırladığı mini projeler için API ihtiyacı olmuştur. Bu projelerde başlık, açıklama, görsel belki de fiyat gibi bilgilerin hepsini kendimiz oluşturmak durumunda kalabiliyoruz. #[span.text-primary Sahte Ürün API] bu zorlukla karşılaşan diğer yazılımcılar için geliştirilmiş bir projedir. Kullanımı tamamen ücretsizdir ve açık kaynak kodludur.
			.col-6 
				.h1 Good bye