extends ./layouts/main

block content
	#fullpage
		.container-fluid.section
			.container.d-flex.align-items-center
				.row.gap-5.gap-md-0
					.col-md-6.d-flex.align-items-center.order-2.order-md-1
						div
							.h1 Sahte Ürün API
							p.mt-4 Hepimizin hazırladığı mini projeler için API ihtiyacı olmuştur. Bu projelerde başlık, açıklama, görsel belki de fiyat gibi bilgilerin hepsini kendimiz oluşturmak durumunda kalabiliyoruz. #[span.text-primary Sahte Ürün API] bu zorlukla karşılaşan diğer yazılımcılar için geliştirilmiş bir projedir. Kullanımı tamamen ücretsizdir ve açık kaynak kodludur.
							.d-flex.gap-3.mt-4
								a(href="#dene").btn.btn-primary.btn-wide HEMEN BAŞLA
								a(href="https://github.com/barisdemirezen",target="blank").btn.btn-outline-primary.btn-wide GİTHUB 
					.col-md-6.order-1.order-md-2.d-flex.align-items-center.align-items.lg-end.justify-content-center
						img(src="img/server.svg", alt="server illustration").img-fluid.h-auto.banner-db.position-relative
			.row.position-absolute.bottom-0.w-100
				svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 320').p-0
					path(fill='#074173' fill-opacity='1' d='M0,32L60,69.3C120,107,240,181,360,181.3C480,181,600,107,720,112C840,117,960,203,1080,202.7C1200,203,1320,117,1380,74.7L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z')
		.container-fluid.section
			.container 
				.row.border-bottom.border-2
					.col-12.text-white.fs-1.fw-bold TEST ALANI
			.container.mt-5
				.row 
					.col-12.bg-light.rounded.py-2#test-area  
						.input-group.mb-3
							span.input-group-text#page-url /api/
							input(type="text",placeholder="product").form-control#request-address
							button.btn.btn-primary#request-button GÖNDER
						pre 
							code.language-json#response-area
			.row.position-absolute.bottom-0.w-100
				svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 320').p-0
					path(fill='#117EA9' fill-opacity='1' d='M0,192L60,192C120,192,240,192,360,208C480,224,600,256,720,272C840,288,960,288,1080,272C1200,256,1320,224,1380,208L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z')
		.container-fluid.section
			.container 
				.row.border-bottom.border-2
					.col-12.text-white.fs-1.fw-bold API UÇLARI
			.container.mt-5
				.row.bg-white.rounded.py-3
					.col-12.col-lg-6
						h2.border-bottom.border-dark.b-1.pb-1 Temel Uçlar
						.card.d-flex.flex-row.align-items-center.justify-content-between.p-1.mt-3.bg-code.text-white
								p.m-0.ms-3 /api/product
								.fs-6.badge.fw-500.bg-primary GET
						.card.d-flex.flex-row.align-items-center.justify-content-between.p-1.mt-3.bg-code.text-white
								p.m-0.ms-3 /api/product/{product-id}
								.fs-6.badge.fw-500.bg-primary GET
						.card.d-flex.flex-row.align-items-center.justify-content-between.p-1.mt-3.bg-code.text-white
								p.m-0.ms-3 /api/product
								.fs-6.badge.fw-500.bg-success POST
						.card.d-flex.flex-row.align-items-center.justify-content-between.p-1.mt-3.bg-code.text-white
								p.m-0.ms-3 /api/product/{product-id}
								.fs-6.badge.fw-500.bg-warning PUT
						.card.d-flex.flex-row.align-items-center.justify-content-between.p-1.mt-3.bg-code.text-white
								p.m-0.ms-3 /api/product/{product-id}
								.fs-6.badge.fw-500.bg-danger DELETE
					.col-12.col-lg-6.mt-3.mt-lg-0
						h2.border-bottom.border-dark.b-1.pb-1 Filtreler
							small.text-muted.mx-3 tüm filteleri zincirleyebilirsiniz.
						.card.d-flex.flex-row.align-items-center.justify-content-between.py-2.px-1.mt-3.bg-code.text-white
								p.m-0.ms-3 ?price={desc || asc}
						.card.d-flex.flex-row.align-items-center.justify-content-between.py-2.px-1.mt-3.bg-code.text-white
								p.m-0.ms-3 ?q={aranacak-kelime}
						.card.d-flex.flex-row.align-items-center.justify-content-between.py-2.px-1.mt-3.bg-code.text-white
								p.m-0.ms-3 ?cat={kategori-ismi}
						.card.d-flex.flex-row.align-items-center.justify-content-between.p-1.mt-3.bg-code.text-white
								p.m-0.ms-3 ?q=iphone&cat=phone&price=desc
			.row.position-absolute.bottom-0.w-100
				svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 320').p-0
					path(fill='#000000' fill-opacity='1' d='M0,256L48,261.3C96,267,192,277,288,261.3C384,245,480,203,576,176C672,149,768,139,864,160C960,181,1056,235,1152,250.7C1248,267,1344,245,1392,234.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z')
		.container-fluid.section
			.container
				.row 
					.col-12.col-md-4.mt-4.mt-lg-0.align-self-center.justify-content-center.text-center.text-white
						h1
							a(href="https://linkedin.com/in/barisdemirezen",target="blank").no-deco LINKEDIN
					.col-12.col-md-4.mt-4.mt-lg-0.align-self-center.justify-content-center.text-center.text-white
						h1
							a(href="https://github.com/barisdemirezen",target="blank").no-deco GITHUB
					.col-12.col-md-4.mt-4.mt-lg-0.align-self-center.justify-content-center.text-center.text-white
						h1
							a(href="https://medium.com/@demirezen.bariss",target="blank").no-deco MEDIUM